XTS/localjunit/WSTX11-interop/src/main/resources/interop11/wsdl/interopat-binding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
   SPDX short identifier: Apache-2.0
 -->

<definitions
        xmlns:s="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsaw="http://www.w3.org/2006/02/addressing/wsdl"
        xmlns:tns="http://fabrikam123.com"
        targetNamespace="http://fabrikam123.com"
        xmlns="http://schemas.xmlsoap.org/wsdl/">
    <import
       namespace="http://fabrikam123.com"
       location="interopat.wsdl"/>

    <binding name="Initiator_SOAPBinding" type="tns:InitiatorPortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="Response">
        <soap:operation soapAction="http://fabrikam123.com/Response"/>
        <soap:input message="tns:Response">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
    </binding>

    <binding name="Participant_SOAPBinding" type="tns:ParticipantPortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="CompletionCommit">
        <soap:operation soapAction="http://fabrikam123.com/CompletionCommit"/>
        <soap:input message="tns:CompletionCommit">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
      <operation name="CompletionRollback">
        <soap:operation soapAction="http://fabrikam123.com/CompletionRollback"/>
        <soap:input message="tns:CompletionRollback">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
      <operation name="Commit">
        <soap:operation soapAction="http://fabrikam123.com/Commit"/>
        <soap:input message="tns:Commit">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
      <operation name="Rollback">
        <soap:operation soapAction="http://fabrikam123.com/Rollback"/>
        <soap:input message="tns:Rollback">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
      <operation name="Phase2Rollback">
        <soap:operation soapAction="http://fabrikam123.com/Phase2Rollback"/>
        <soap:input message="tns:Phase2Rollback">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
      <operation name="Readonly">
        <soap:operation soapAction="http://fabrikam123.com/Readonly"/>
        <soap:input message="tns:Readonly">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
      <operation name="VolatileAndDurable">
        <soap:operation soapAction="http://fabrikam123.com/VolatileAndDurable"/>
        <soap:input message="tns:VolatileAndDurable">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
      <operation name="EarlyReadonly">
        <soap:operation soapAction="http://fabrikam123.com/EarlyReadonly"/>
        <soap:input message="tns:EarlyReadonly">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
      <operation name="EarlyAborted">
        <soap:operation soapAction="http://fabrikam123.com/EarlyAborted"/>
        <soap:input message="tns:EarlyAborted">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
      <operation name="ReplayCommit">
        <soap:operation soapAction="http://fabrikam123.com/ReplayCommit"/>
        <soap:input message="tns:ReplayCommit">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
      <operation name="RetryPreparedCommit">
        <soap:operation soapAction="http://fabrikam123.com/RetryPreparedCommit"/>
        <soap:input message="tns:RetryPreparedCommit">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
      <operation name="RetryPreparedAbort">
        <soap:operation soapAction="http://fabrikam123.com/RetryPreparedAbort"/>
        <soap:input message="tns:RetryPreparedAbort">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
      <operation name="RetryCommit">
        <soap:operation soapAction="http://fabrikam123.com/RetryCommit"/>
        <soap:input message="tns:RetryCommit">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
      <operation name="PreparedAfterTimeout">
        <soap:operation soapAction="http://fabrikam123.com/PreparedAfterTimeout"/>
        <soap:input message="tns:PreparedAfterTimeout">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
      <operation name="LostCommitted">
        <soap:operation soapAction="http://fabrikam123.com/LostCommitted"/>
        <soap:input message="tns:LostCommitted">
          <soap:body use="literal"/>
        </soap:input>
      </operation>
    </binding>

    <service name="InteropService">
      <port binding="tns:Initiator_SOAPBinding" name="InitiatorPortType">
	<wsaw:UsingAddressing required="true"/>
	<soap:address location="http://localhost:9000/interopat/InteropService"/>
      </port>
      <port binding="tns:Participant_SOAPBinding" name="ParticipantPortType">
	<wsaw:UsingAddressing required="true"/>
	<soap:address location="http://localhost:9000/interopat/ParticipantService"/>
      </port>
    </service>

</definitions>