XTS/WS-T/dev/dd/wscoor1.1/wsdl/wsat-binding.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsat="http://docs.oasis-open.org/ws-tx/wsat/2006/06" targetNamespace="http://docs.oasis-open.org/ws-tx/wsat/2006/06" xmlns:wsaw="http://www.w3.org/2006/02/addressing/wsdl">

  <wsdl:import
      namespace="http://docs.oasis-open.org/ws-tx/wsat/2006/06"
      location="wsat.wsdl" />

  <wsdl:binding name="CompletionCoordinator_SOAPBinding" type="wsat:CompletionCoordinatorPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CommitOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Commit" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="RollbackOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Rollback" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="CompletionInitiator_SOAPBinding" type="wsat:CompletionInitiatorPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CommittedOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Committed" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="AbortedOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Aborted" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="Coordinator_SOAPBinding" type="wsat:CoordinatorPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PreparedOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Prepared" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="AbortedOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Aborted" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="ReadOnlyOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/ReadOnly" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="CommittedOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Committed" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:binding name="Participant_SOAPBinding" type="wsat:ParticipantPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PrepareOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Prepare" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="CommitOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Commit" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="RollbackOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsat/2006/06/Rollback" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="WSAT_SOAPService">
    <wsdl:port binding="wsat:CompletionCoordinator_SOAPBinding" name="CompletionCoordinatorPortType">
      <soap:address location="http://localhost:9000/SoapContext/WSAT/CompletionCoordinatorSoapPort"/>
       <wsaw:UsingAddressing required="true"/>
    </wsdl:port>

    <wsdl:port binding="wsat:CompletionInitiator_SOAPBinding" name="CompletionInitiatorPortType">
      <soap:address location="http://localhost:9000/SoapContext/WSAT/CompletionInitiatorSoapPort"/>
       <wsaw:UsingAddressing required="true"/>
    </wsdl:port>

    <wsdl:port binding="wsat:Coordinator_SOAPBinding" name="CoordinatorPortType">
      <soap:address location="http://localhost:9000/SoapContext/WSAT/CoordinatorSoapPort"/>
       <wsaw:UsingAddressing required="true"/>
    </wsdl:port>

    <wsdl:port binding="wsat:Participant_SOAPBinding" name="ParticipantPortType">
      <soap:address location="http://localhost:9000/SoapContext/WSAT/ParticipantSoapPort"/>
       <wsaw:UsingAddressing required="true"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
