XTS/WS-T/dev/dd/wscoor1.1/wsdl/wsba-coordinator-completion-participant-binding.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsba="http://docs.oasis-open.org/ws-tx/wsba/2006/06" targetNamespace="http://docs.oasis-open.org/ws-tx/wsba/2006/06" xmlns:wsaw="http://www.w3.org/2006/02/addressing/wsdl">

  <wsdl:import
      namespace="http://docs.oasis-open.org/ws-tx/wsba/2006/06"
      location="wsba.wsdl" />

  <wsdl:binding name="BusinessAgreementWithCoordinatorCompletionParticipant_SOAPBinding" type="wsba:BusinessAgreementWithCoordinatorCompletionParticipantPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CompleteOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/Complete" style="document"/>
      <wsdl:input>
	<soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="CloseOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/Close" style="document"/>
      <wsdl:input>
	<soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="CancelOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/Cancel" style="document"/>
      <wsdl:input>
	<soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="CompensateOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/Compensate" style="document"/>
      <wsdl:input>
	<soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="FailedOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/Failed" style="document"/>
      <wsdl:input>
	<soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="ExitedOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/Exited" style="document"/>
      <wsdl:input>
	<soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="NotCompleted">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/NotCompleted" style="document"/>
      <wsdl:input>
	<soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="GetStatusOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/GetStatus" style="document"/>
      <wsdl:input>
	<soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="StatusOperation">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wsba/2006/06/Status" style="document"/>
      <wsdl:input>
	<soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>

    <wsdl:operation name="SoapFault">
      <soap:operation soapAction="http://docs.oasis-open.org/ws-tx/wscoor/2006/06/fault"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="BusinessAgreementWithCoordinatorCompletionParticipantService">
    <wsdl:port binding="wsba:BusinessAgreementWithCoordinatorCompletionParticipant_SOAPBinding" name="BusinessAgreementWithCoordinatorCompletionParticipantPortType">
      <soap:address location="http://localhost:9000/wst11/BusinessAgreementWithCoordinatorCompletionParticipantService"/>
       <wsaw:UsingAddressing required="true"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
