XTS/sar/tests/src/main/webapp/WEB-INF/classes/org/jboss/jbossts/xts/servicetests/generated/wsdl/xtsservicetests.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
  JBoss, Home of Professional Open Source
  Copyright 2009, Red Hat Middleware LLC, and individual contributors
  as indicated by the @author tags.
  See the copyright.txt in the distribution for a full listing
  of individual contributors.
  This copyrighted material is made available to anyone wishing to use,
  modify, copy, or redistribute it subject to the terms and conditions
  of the GNU Lesser General Public License, v. 2.1.
  This program is distributed in the hope that it will be useful, but WITHOUT A
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
  You should have received a copy of the GNU Lesser General Public License,
  v.2.1 along with this distribution; if not, write to the Free Software
  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
  MA  02110-1301, USA.


  (C) 2009,
  @author JBoss Inc.
--><!--
    a specification for a service which can be used to dispatch a SOAP 1.1 SoapFault
    to an arbitrary client
-->
<definitions
        targetNamespace="http://jbossts.jboss.org/xts/servicetests/generated"
        xmlns:s="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://jbossts.jboss.org/xts/servicetests/generated"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsaw="http://www.w3.org/2006/02/addressing/wsdl"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns="http://schemas.xmlsoap.org/wsdl/" >
    <types>
        <s:schema
                targetNamespace="http://jbossts.jboss.org/xts/servicetests/generated"
                xmlns="http://jbossts.jboss.org/xts/servicetests/generated">
            <s:simpleType name="commandList">
                <s:list itemType="s:string"/>
            </s:simpleType>

            <s:simpleType name="resultList">
                <s:list itemType="s:string">
                </s:list>
            </s:simpleType>

            <s:complexType name="commandsType">
                <s:sequence>
                    <s:element name="commandList" type="commandList"/>
                </s:sequence>
            </s:complexType>

            <s:complexType name="resultsType">
                <s:sequence>
                    <s:element name="resultList" type="resultList"/>
                </s:sequence>
            </s:complexType>

            <s:element name="commands" type="commandsType"/>

            <s:element name="results" type="resultsType"/>

            <!--
            <s:import namespace="http://schemas.xmlsoap.org/soap/envelope/"
                      schemaLocation="http://schemas.xmlsoap.org/soap/envelope"/>
              -->
        </s:schema>
    </types>

    <message name="Commands">
        <part name="commands" element="tns:commands" />
    </message>

    <message name="Results">
        <part name="results" element="tns:results" />
    </message>

    <portType name="XTSServiceTestPortType">
        <operation name="serve">
            <input name="Commands" message="tns:Commands" />
            <output name="Results" message="tns:Results" />
        </operation>
    </portType>
    
    <binding name="XTSServiceTestPort_SOAPBinding" type="tns:XTSServiceTestPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="serve">
            <input message="tns:Commands">
                <soap:body use="literal"/>
            </input>
            <output message="tns:Commands">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="XTSServiceTestService">
        <port binding="tns:XTSServiceTestPort_SOAPBinding" name="XTSServiceTestPortType">
            <wsaw:UsingAddressing required="true"/>
            <soap:address location="http://localhost:9000/xtsservicetests/XTSServiceTestService"/>
        </port>
    </service>
</definitions>
