XTS/interop/WSTX11-interop/dd/interop11/wsdl/interopba-binding.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions
        xmlns:s="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsaw="http://www.w3.org/2006/02/addressing/wsdl"
        xmlns:tns="http://fabrikam123.com/wsba"
        targetNamespace="http://fabrikam123.com/wsba"
        xmlns="http://schemas.xmlsoap.org/wsdl/">
    <import
       namespace="http://fabrikam123.com/wsba"
       location="interopba.wsdl"/>

    <binding name="Initiator_SOAPBinding" type="tns:InitiatorPortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="Response">
        <soap:operation soapAction="http://fabrikam123.com/wsba/Response"/>
        <input message="tns:Response">
          <soap:body use="literal"/>
        </input>
      </operation>
    </binding>

    <binding name="Participant_SOAPBinding" type="tns:ParticipantPortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="Cancel">
        <soap:operation soapAction="http://fabrikam123.com/wsba/Cancel"/>
        <input message="tns:Cancel">
          <soap:body use="literal"/>
        </input>
      </operation>
      <operation name="Exit">
        <soap:operation soapAction="http://fabrikam123.com/wsba/Exit"/>
        <input message="tns:Exit">
          <soap:body use="literal"/>
        </input>
      </operation>
      <operation name="Fail">
        <soap:operation soapAction="http://fabrikam123.com/wsba/Fail"/>
        <input message="tns:Fail">
          <soap:body use="literal"/>
        </input>
      </operation>
      <operation name="CannotComplete">
        <soap:operation soapAction="http://fabrikam123.com/wsba/CannotComplete"/>
        <input message="tns:CannotComplete">
          <soap:body use="literal"/>
        </input>
      </operation>
      <operation name="ParticipantCompleteClose">
        <soap:operation soapAction="http://fabrikam123.com/wsba/ParticipantCompleteClose"/>
        <input message="tns:ParticipantCompleteClose">
          <soap:body use="literal"/>
        </input>
      </operation>
      <operation name="CoordinatorCompleteClose">
        <soap:operation soapAction="http://fabrikam123.com/wsba/CoordinatorCompleteClose"/>
        <input message="tns:CoordinatorCompleteClose">
          <soap:body use="literal"/>
        </input>
      </operation>
      <operation name="UnsolicitedComplete">
        <soap:operation soapAction="http://fabrikam123.com/wsba/UnsolicitedComplete"/>
        <input message="tns:UnsolicitedComplete">
          <soap:body use="literal"/>
        </input>
      </operation>
      <operation name="Compensate">
        <soap:operation soapAction="http://fabrikam123.com/wsba/Compensate"/>
        <input message="tns:Compensate">
          <soap:body use="literal"/>
        </input>
      </operation>
      <operation name="CompensationFail">
        <soap:operation soapAction="http://fabrikam123.com/wsba/CompensationFail"/>
        <input message="tns:CompensationFail">
          <soap:body use="literal"/>
        </input>
      </operation>
      <operation name="ParticipantCancelCompletedRace">
        <soap:operation soapAction="http://fabrikam123.com/wsba/ParticipantCancelCompletedRace"/>
        <input message="tns:ParticipantCancelCompletedRace">
          <soap:body use="literal"/>
        </input>
      </operation>
      <operation name="MessageLossAndRecovery">
        <soap:operation soapAction="http://fabrikam123.com/wsba/MessageLossAndRecovery"/>
        <input message="tns:MessageLossAndRecovery">
          <soap:body use="literal"/>
        </input>
      </operation>
      <operation name="MixedOutcome">
        <soap:operation soapAction="http://fabrikam123.com/wsba/MixedOutcome"/>
        <input message="tns:MixedOutcome">
          <soap:body use="literal"/>
        </input>
      </operation>
    </binding>

    <service name="InteropService">
      <port binding="tns:Initiator_SOAPBinding" name="InitiatorPortType">
	<wsaw:UsingAddressing required="true"/>
	<soap:address location="http://localhost:9000/interopba/InteropService"/>
      </port>
      <port binding="tns:Participant_SOAPBinding" name="ParticipantPortType">
	<wsaw:UsingAddressing required="true"/>
	<soap:address location="http://localhost:9000/interopba/ParticipantService"/>
      </port>
    </service>

</definitions>
